* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: url("assets/awan.webp");
  background-size: cover;
  background-position: left;
}

/* Kontainer utama */
.container {
  display: flex;
  height: 100vh;
}

/* Bagian kiri */
.left-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  padding: 48px;
}

.content {
  max-width: 660px;
  margin-left: 50px;
}

.content h1 {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1;
}

.content h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.h1span {
  color: #ffb300;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 36px;
  line-height: 1;
}

.content p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 36px;
}

.buttons {
  display: flex;
  gap: 18px;
}

.btn-apaituhabithub {
  padding: 14.4px 24px;
  border-radius: 30px;
  background: transparent;
  color: white;
  border: 1.2px solid white;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}

.btn-apaituhabithub:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Bagian kanan */
.right-section {
  flex: 1;
  background: rgba(255, 255, 255, 0.652);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.form-container {
  width: 100%;
  max-width: 480px;
}

.form-container h1 {
  color: #333;
  font-size: 38.4px;
  margin-bottom: 35px;
  line-height: 1.2;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 17px;
  color: #404040;
  margin-bottom: 10px;
}

.input-icon {
  position: relative;
}

input {
  width: 100%;
  padding: 14px 18px;
  border: 1.5px solid #dddddd;
  border-radius: 15px;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.576);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="confirmPassword"]:focus {
  outline: none;
  border-color: #ffc107;
}

.check-icon,
.email-icon,
.eye-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #262626;
  user-select: none;
}

.name-fields {
  display: flex;
  gap: 24px;
}

.name-fields .form-group {
  flex: 1;
}

.login-link {
  font-size: large;
  text-align: center;
  margin: 15px;
}

.login-link a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
}

.login-link a:hover {
  transition: all 0.3s ease;

  color: hsl(31, 100%, 50%);
}

.btn-create-account {
  margin-top: 15px;
  width: 100%;
  padding: 18px;
  background-color: #ffa500;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 30px;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-create-account:hover {
  color: #ffa500;
  background-color: #161616;
}

/* Captcha */
.captcha-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#captcha-text {
  font-size: 26px;
  font-weight: bold;
  margin-right: 10px;
  user-select: none; /* Prevent text selection */
}

#refresh-captcha {
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

/* Responsif */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section {
    height: 48vh;
    width: 100%;
    flex: none;
  }

  .right-section {
    height: 72vh;
    width: 100%;
    flex: none;
    overflow-y: auto;
  }

  .name-fields {
    flex-direction: column;
    gap: 12px;
  }
}
