* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}


body {
    background: 
        url('awan.webp');
    background-size: cover;
    background-position: left;
}


/* Kontainer utama */
.container {
    display: flex;
    height: 100vh;
}

/* kiri */
.left-section {
    flex: 1;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 48px;
}

.content {
    max-width: 660px;
    margin-left: 50px;
}

.content h2 {
    font-size: 25px;
    margin-bottom:15px;
}

.content h1 {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1;
}

.h1span {
    color: #ffb300;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 36px;
    line-height: 1;
}

.content p {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    gap: 18px;
}

.btn-apaituhabithub {
    padding: 14.4px 24px;
    border-radius: 30px;
    background: transparent;
    color: white;
    border: 1.2px solid white;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}

.btn-apaituhabithub:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* kanan */
.right-section {
    flex: 1;
    background: rgba(255, 255, 255, 0.652);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.form-container {
    width: 100%;
    max-width: 480px;
}

.form-container h1 {
    color: #333;
    font-size: 38.4px;
    margin-bottom: 35px;
    line-height: 1.2;
}

.form-group {
    margin-bottom: 24px;
}

label {
    display: block;
    font-size: 17px;
    color: #404040;
    margin-bottom: 9.6px;
}

.input-icon {
    position: relative;
}

input {
    width: 100%;
    padding: 14px 18px;
    border: 1.5px solid #dddddd;
    border-radius: 15px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.576);
}

.check-icon, .email-icon, .eye-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #262626;
}

.name-fields {
    display: flex;
    gap: 24px;
}

.name-fields .form-group {
    flex: 1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="confirmPassword"]:focus {
  outline: none; 
  border-color: #ffc107;
}

.login-link {
    text-align: right;
    margin-bottom: 24px;
}

.login-link a {
    color: hsl(42, 100%, 50%);
    text-decoration: none;
    text-decoration: underline;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
}

.login-link a:hover {
    color: hsl(234, 100%, 50%);

}

.btn-create-account {
    width: 100%;
    padding: 18px;
    background-color: hsl(42, 100%, 50%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-create-account:hover {
    background-color: hsl(36, 100%, 96%);
}

/* Responsif */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left-section, .right-section {
        flex: none;
        width: 100%;
    }
    
    .left-section {
        height: 48vh;
    }
    
    .right-section {
        height: 72vh;
        overflow-y: auto;
    }
    
    .name-fields {
        flex-direction: column;
        gap: 12px;
    }
}
